.custom-dialog .ms-Dialog-main {
    width: 90vw !important;
    max-width: 1000px !important;
    min-width: 1000px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  